<!DOCTYPE html>
<html>
  <head>
    <title>Tech University</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
<<<<<<< HEAD
  <%= render 'layouts/nav' %>
</header>
<main>
  <div class="container">
        <%= yield %>
</main>
  </div>
  <footer>
    <%= render 'layouts/footer'%>
  </footer>
=======
  <%= render 'layouts/navigation' %>
</header>
<main>
  <div class="container">
          <%= yield %>        
  </div>
</main>
<footer>
  <%= render 'layouts/footer' %>
</footer>
>>>>>>> 3aaa88476018973d929babe339f1af38e8d8c910
  </body>
</html>
